<html>
    <head>
        Pay Fees on this page
    </head>
    <body>
        <h1>pay fees here </h1>
        <form action="/charge" method="POST">
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="pk_test_EE97izMd2H3Ez4MPXK44lYxX002PjRQp98"
              data-amount="999"
              data-name="Ramy"
              data-description="Widget"
              data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
              data-locale="auto">
            </script>
        </form>
    
    
    </body>

</html>